/* :root {
  --bs-yellow: #ffc107;
} */

/* @@@@@삭제 */

.rbd {
  border: 1px solid red;
}
.obd {
  border: 1px solid orange;
}
.bbd {
  border: 1px solid blue;
}

.aside,
.main {
  background-color: var(--surface-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  /* transition: all ease-in-out 0.3s; */
  border-radius: 18px;
  /* position: relative; */
  /* overflow: hidden; */
  width: fit-content;
  padding: 3rem;
}

.default-btn {
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 1rem 1.7rem;
  font-size: 1rem;
  /* font-family: Poppins, "Poppins Placeholder", sans-serif; */
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1em;
}

.default-btn-outline {
  border: 1px solid var(--accent-color);
  background-color: var(--surface-color);
  color: var(--accent-color);
  border-radius: 2rem;
  outline: none;
  padding: 1rem 1.7rem;
  font-size: 1rem;
  /* font-family: Poppins, "Poppins Placeholder", sans-serif; */
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1em;
}

/*****************/
/***** aside *****/
/*****************/

.aside > div {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.aside h5 {
  text-align: center;
}

.aside .list-conditions {
  width: fit-content;
  padding-left: 0;
  margin-bottom: 2.5rem;
}

.aside .list-conditions li {
  /* width: auto; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.aside .list-conditions .dropdown-menu li {
  margin-top: 0;
  margin-bottom: 0;
}

.aside .list-conditions .dropdown-menu li a:hover {
  /* color: var(--bs-yellow); */
  color: var(--accent-color);
  background-color: var(--surface-color);
}

.aside form .submit {
  display: flex;
  justify-content: center;
}

/****************/
/***** main *****/
/****************/

.area-header {
  /* border: 1px solid red; */
  /* display: flex; */
  /* -webkit-box-pack: justify; */
  /* justify-content: space-between; */
  padding: 2rem 0 0 0;
  /* margin: 0; */
}

.area-header h4 {
  text-align: center;
  margin-top: auto;
  margin-bottom: 2rem;
}

.area-header div {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: end;
}

.area-header div button {
  height: 2.7rem;
  margin-left: 0.4rem;
  font-size: 0.9rem;
}

.area-board {
  padding: 1rem 0 0 0;
}

.area-board table thead th {
  /* color: rgb(177, 177, 177); */
  /* color: rgb(80, 80, 80); */
}

table tbody tr:last-child {
  /* border-bottom: transparent; */
}

.area-board table tbody tr td {
  width: fit-content;
  padding: 1.7rem 1.5rem;
  vertical-align: middle;
}

table tbody tr td:nth-child(1) {
  text-align: left;
}

table tbody tr td:nth-child(2) div {
  padding-top: 0.5rem;
}

table tbody tr td:nth-child(2) * {
  margin: 0 auto;
}

table tbody td .infos {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-between;
  color: var(--bs-gray-500);
  font-size: 0.9rem;
}

table tbody td a {
  text-decoration: none;
  color: var(--bs-gray-700);
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin: 0.5rem 0;
}

table tbody td .info-detail {
  color: var(--bs-gray-500);
  font-size: 0.85rem;
  margin-bottom: 0;
}

table tbody .profile-img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: block;
}

table tbody .cell-profile span {
  color: var(--bs-gray-700);
  font-size: 0.9rem;
}

table tbody td .infos div {
  display: inline-block;
}

.pagination {
  margin: 0 0 1rem 0;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  margin: 2rem auto 2rem auto;
  padding: 0;
}

.pagination ul li {
  margin-left: 0.5rem;
}

.area-board .pagination ul li a {
  color: var(--bs-gray-400);
  font-size: 1.07rem;
}

.main .area-board .pagination ul li a.selected {
  color: var(--accent-color) !important;
  pointer-events: none;
}

.pagination ul li img {
  width: 1.2rem;
  height: 1.2rem;
}

.area-search {
  padding: 0;
}

.area-search div {
  display: flex;
  justify-content: center;
}

.area-search select {
  /* appearance: none; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* margin: 0 0.3rem 0 0; */
  height: 2rem;
  margin-right: 0.3rem;
  padding: 0.35rem;
  border-radius: 0.3rem;
  border-color: var(--bs-gray-500);
  outline: none;
  font-size: 0.8rem;
  color: var(--bs-gray-700);
}

.area-search input {
  height: 2rem;
  margin-right: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid var(--bs-gray-500);
}

.area-search button {
  height: 2rem;
  margin: 0;
  padding: 0.35rem;
  border-radius: 0.3rem;
  border: 1px solid var(--bs-gray-500);
  font-size: 0.9rem;
  color: var(--bs-gray-700);
}
